/* VARIAVEIS */
:root{
    --header-color: black;
    --h1-color: #393C41;
    --h2-color: #6E7378;
}

/* FONTES */
@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.otf);
}
@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBookRegular.otf);
}
body{
    font-family: 'GothamMedium', Helvetica, Arial;
    font-size: 14px;
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
header ul, header li{
    list-style: none;
}
header .logo {
    width: 125px;
    margin-left: 20px;
}
header .middle ul{
    display: flex;
}
header .middle li{
    margin: 0 10px;
}
header .middle a{
    color: var(--header-color);
    text-decoration: none;
    text-transform: uppercase;
}
header .rightside ul{
    display: flex;
}
header .rightside li{
    margin: 0 10px;
}
header .rightside a{
    color: var(--header-color);
    text-decoration: none;
    text-transform: uppercase;
}
header .menu--icon{
    display: flex;
    flex-direction: column;
    height: 16px;
    width: 18px;
    justify-content: space-around;
}
header .menu--icon div{
    height: 2px;
    background-color: var(--header-color);
    cursor: pointer;
}

/* MAIN */
main {
    background-image: url(../images/bg.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
main .info {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main h1{
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    color: var(--h1-color);
}
main h2{
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'GothamBook', Arial, Helvetica;
    color: var(--h2-color);
}
main h2 a{
    color: var(--h1-color);
}